@media screen and (max-width:576px) {

  /* Section 02 */
  .section2 {
    margin-top: 100px;
    flex-direction: column;
  }

  .section2-left {
    width: 100%;
  }

  .section2-right {
    width: 100%;
  }






  /* section 01 */
  .section1 {
    margin-top: 100px;
    flex-direction: column;
  }

  .section1-left {
    width: 100%;
  }

  .section1-right {
    width: 100%;

  }

  .section1-right img {
    width: 100%;
    height: 100%;

  }

  .section1-right-badge {
    left: 5%;
    width: 80%;
    bottom: 5%;
  }







  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .nav-end {
    position: relative;
  }

  .mobile-nav-links {
    background: #7c7979;
    position: absolute;
    color: white;
    width: 200px;
    padding: 20px;
    right: 10px;
    top: 60px;
    border-radius: 12px;
    display: none;

  }

  .mobile-nav-links li {
    margin-bottom: 10px;

  }

  .mobile-menu:hover .dropdown {
    display: block;
  }

  .mobile-nav-links li {

    width: 100%;
  }

  .mobile-nav-links li :hover {
    background-color: #424141;
    padding: 10px 20px 10px 10px;
    width: 100%;
    border-radius: 12px;

  }

  .nav-button1 {
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--text-80, #343268);
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .nav-button {
    display: none;
  }

  .banner-title {
    margin-bottom: 0px;
  }

  .banner-content {
    flex-direction: column;
  }

  .banner-left,
  .banner-right,
  .left,
  .middle,
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media screen and (min-width:577px) and (max-width:768px) {

  /* Section 02 */
  .section2 {
    margin-top: 100px;
    flex-direction: column;
  }

  .section2-left {
    width: 100%;
  }

  .section2-right {
    width: 100%;
  }







  /* section 01 */
  .section1 {
    margin-top: 100px;
    flex-direction: column;
  }

  .section1-left {
    width: 100%;
  }

  .section1-right {
    width: 100%;

  }

  .section1-right img {
    width: 100%;
    height: 100%;

  }

  .section1-right-badge {
    left: 5%;
    width: 80%;
    bottom: 5%;
  }



  .banner-title {
    margin-bottom: 0px;
  }

  .banner-content {
    flex-direction: column;
  }

  .banner-left,
  .banner-right,
  .left,
  .middle,
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}

@media screen and (min-width:769px) and (max-width:900px) {}